{% extends 'master.html' %}

{% block body %}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">Your Orders</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for i in order %}
                    <tr>
                        <td class="cart_product">
                            <a href=""><img src="{{ i.image }}" height="275px" width="250px" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">{{ i.product }}</a></h4>
                            
                        </td>
                        <td class="cart_price">
                            <p>$ {{ i.price }}</p>
                        </td>
                        <!-- <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" href=""> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                <a class="cart_quantity_down" href=""> - </a>
                            </div>
                        </td> -->

                        <td class="cart_price">
                        <div class="cart_quantity_button">
                            <p>{{i.quantity}}</p>
                        </div>
                        </td>

                        <td class="cart_total">
                            <p class="cart_total_price">${{ i.total }}</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
            
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

{% endblock %}